{% extends 'base.html.twig' %}

{% block title %}Patient{% endblock %}

{% block body %}
    <h1>Patient</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdPatient</th>
                <td>{{ patient.idPatient }}</td>
            </tr>
            <tr>
                <th>MedecinId</th>
                <td>{{ patient.medecinId }}</td>
            </tr>
            <tr>
                <th>NomPrenom</th>
                <td>{{ patient.nomPrenom }}</td>
            </tr>
            <tr>
                <th>DateNaiss</th>
                <td>{{ patient.dateNaiss ? patient.dateNaiss|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{{ patient.genre }}</td>
            </tr>
            <tr>
                <th>DateEntree</th>
                <td>{{ patient.dateEntree ? patient.dateEntree|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_patient_index') }}">back to list</a>

    <a href="{{ path('app_patient_edit', {'idPatient': patient.idPatient}) }}">edit</a>

    {{ include('patient/_delete_form.html.twig') }}
{% endblock %}
